In [2]:
from glicko2 import Player
from tinydb import TinyDB, Query
db = TinyDB('db.json') #this is the database of all the chess players
ID = Query()
from chessutils import *
#import tkinter #must implement tkinter to make it look good

In [3]:
db.search(Query().id == 2)

[{'name': 'Tony',
  'rating': 1857.5926233548953,
  'rd': 183.75769412700106,
  'vol': 0.060002548145805204,
  'id': 2}]

In [32]:
ratings_list = []
player_list = []
for item in db:
  ratings_list.append(item['rating'])
  player_list.append(item['name'])

In [44]:
ratings_list, player_list =  zip(*sorted(zip(ratings_list, player_list)))

In [52]:
playercount = len(ratings_list)
for i in range(playercount):
    print(player_list[i],ratings_list[i])

Allan 1380.110477435308
Josephi 1500
Tony 1500
Kyle 1502.717883487413
Maxim 1597.5947494755242
Tony 1857.5926233548953

In [38]:
db.all()

[{'name': 'Allan',
  'rating': 1380.110477435308,
  'rd': 168.49928144913156,
  'vol': 0.06000430106023993,
  'id': 0},
 {'name': 'Maxim',
  'rating': 1597.5947494755242,
  'rd': 238.1457910879249,
  'vol': 0.06001072922671335,
  'id': 1},
 {'name': 'Tony',
  'rating': 1857.5926233548953,
  'rd': 183.75769412700106,
  'vol': 0.060002548145805204,
  'id': 2},
 {'name': 'Kyle',
  'rating': 1502.717883487413,
  'rd': 221.6422478010111,
  'vol': 0.060000316862322524,
  'id': 3},
 {'name': 'Tony', 'rating': 1500, 'rd': 350, 'vol': 0.06, 'id': 4},
 {'name': 'Josephi', 'rating': 1500, 'rd': 350, 'vol': 0.06, 'id': 5}]

In [8]:
round(db.search(Query().id == 2)[0]['rating'],1)

1857.6

In [12]:
process_match(1,3,1)

## Functions and Tutorial

process_match(player 1's id, player 2's id, final result (1=p1 win, 0.5=draw, 0=p2 win))

new_player(STRING player_name)

Returns the ID of the new player. Write this down!

In [ ]:
#new_player("Josephi")
# >> 5
# Creates a player named "Josephi". Returned the number 5 which is Josephi's ID. 
#process_match(2,0,1)
# Player 2 played Player 0 and Player 2 won!

#db.all()
# Prints out all of the data in the database

#db.search(Query().rating > 1000)
# Search the database by rating

#db.search(Query().name == 'Tony')
# Search the database by name

#db.search(Query().id == 2)
# Search the database by id! Get ID'd bro!

## DANGEROUS functions

db.purge()

hmmmm.... removes all of the players from the database. really think before running!